.main-container {
    padding-bottom: 3rem;
}

.calmBreathing-title {
  margin-top: 5rem;
  font-size: 3.5rem;
  font-weight: 700;
  font-family: var(--font-heading);
}

.video-container {
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.4rem;
}

.slider-container {
  margin-left: auto;
  margin-right: auto;
}
.slider-value {
  color: var(--text-colour);
  font-family: var(--font-text);
  margin-bottom: 1rem;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
}

.button-container-top {
  margin-top: 2.5rem;
}

.button-container-middle {
  margin-top: 2rem;
}

.button-container-bottom {
  margin-top: 2rem;
}

.fast,
.slow {
  width: 70px;
  flex: 0 1 120px;
}

.avg {
  flex: 0 0 auto;
}

.done-container-wide {
  display: none;
}

.done-container-narrow {
  display: flex;
}

.complete {
  min-width: 180px;
}

/* media queries */
@media screen and (min-width: 950px) {

    .main-container {
        max-width: 1200px;
        margin: 0 auto;
    }
    .desktop-parent-container {
        width: 100%;
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 5rem;
        /* border: 1px solid red; */
    }
    .section-right {
        /* border: 1px solid red; */
        align-self: center;
    }
    .section-left {
        /* border: 1px solid red; */
        padding: 1rem;
    }
    .video-container {
        max-width: 40rem;
        height: 25rem;
        padding-bottom: 0;
        /* border: 1px solid red; */
    }
  
  .done-container-wide {
    display: flex;
  }

  .done-container-narrow {
    display: none;
  }

}




/* .video-container {
  position: relative;
  width: 80%;
  padding-bottom: 45%; /* 16:9 aspect ratio */
/* overflow: hidden;
} */

/* .video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
} */
