.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2 {
    margin-top: 60px;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    margin-top: 30px;
}